@page "/DiasLaborables"
@attribute [Authorize]
@using Syncfusion.Blazor.Grids
@using AlDente.Contracts.DiasLaborables
@using AlDente.Globalization
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars

@inject IDiaLaboralService servDiaLaboral
@inject IToastService Toast

<MyCard Header="Dias Laborables">
    @if (TodosLosDiasLaborables == null)
    {
        <p><em>Loading...</em></p>
    }
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid DataSource="@TodosLosDiasLaborables" Toolbar="@(new List<string>() { "Add", "Edit", "Delete" })" AllowPaging="true">
                    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog" NewRowPosition="NewRowPosition.Bottom" ShowDeleteConfirmDialog="true" ShowConfirmDialog="true">
                        <Validator>
                            <FluentValidationValidator @ref="fluentValidationValidator" DisableAssemblyScanning="@true" />
                        </Validator>
                        <Template>
                            @{

                                var dia = (context as DiaLaboralDTO);
                                <div class="form-group">
                                    <DisplayName For="@(() => dia.Dia)" InputFor="@nameof(DiaLaboralDTO.Dia)" />
                                    <SfDropDownList TItem="DiaDeLaSemana" TValue="DiasDeLaSemana" PopupHeight="230px" Placeholder="[Seleccione Un Día]" @bind-Value="@dia.Dia" DataSource="@Dias">
                                        <DropDownListFieldSettings Text="Text" Value="Id"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                    <ValidationMessage For="@(() => dia.Dia)" />
                                </div>
                                <div class="form-group">
                                    <DisplayName For="@(() => dia.HoraInicio)" InputFor="@nameof(DiaLaboralDTO.HoraInicio)" />
                                    <SfTimePicker TValue="TimeSpan" Placeholder="Ingrese Hora" class="form-control" Format="@("hh\\:mm")" @bind-Value="dia.HoraInicio" ID="@nameof(DiaLaboralDTO.HoraInicio)"></SfTimePicker>
                                    <ValidationMessage For="@(() => dia.HoraInicio)" />
                                </div>
                                <div class="form-group">
                                    <DisplayName For="@(() => dia.HoraFin)" InputFor="@nameof(DiaLaboralDTO.HoraFin)" />
                                    <SfTimePicker TValue="TimeSpan" Placeholder="Ingrese Hora" class="form-control" Format="@("hh\\:mm")" @bind-Value="dia.HoraFin" ID="@nameof(DiaLaboralDTO.HoraFin)"></SfTimePicker>
                                    <ValidationMessage For="@(() => dia.HoraFin)" />
                                </div>

                                @if (!string.IsNullOrEmpty(error))
                                {
                                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                                }
                            }
                        </Template>
                    </GridEditSettings>
                    <GridEvents TValue="DiaLaboralDTO" OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler"></GridEvents>
                    <GridColumns>
                        <GridColumn Field=@nameof(DiaLaboralDTO.Id) Width="140" IsPrimaryKey="true" Visible="false"></GridColumn>
                        <GridColumn Field=@nameof(DiaLaboralDTO.Dia) HeaderText="@Messages.Day"></GridColumn>
                        <GridColumn Field=@nameof(DiaLaboralDTO.HoraInicio) HeaderText="@Messages.StartTime"></GridColumn>
                        <GridColumn Field=@nameof(DiaLaboralDTO.HoraFin) HeaderText="@Messages.EndTime"></GridColumn>

                        <GridColumn HeaderText="@Strings.Actions" Width="150">
                            <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-edit", CssClass = "e-primary" })"></GridCommandColumn>
                                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-delete", CssClass = "e-danger" })"></GridCommandColumn>
                            </GridCommandColumns>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
</MyCard>

@code {
    public static List<DiaLaboralDTO> TodosLosDiasLaborables { get; set; }
    private FluentValidationValidator fluentValidationValidator;
    private string error;

    protected override async Task OnInitializedAsync()
    {

        TodosLosDiasLaborables = (await servDiaLaboral.GetAll()).ToList();
    }

    public class DiaDeLaSemana
    {
        public DiasDeLaSemana Id { get; set; }
        public string Text { get; set; }
        public DiaDeLaSemana(DiasDeLaSemana id, string text)
        {
            this.Id = id;
            this.Text = text;

        }
    }

    public static List<DiaDeLaSemana> Dias { get; set; } = new List<DiaDeLaSemana>
{
        new DiaDeLaSemana(DiasDeLaSemana.Lunes,Messages.Monday),
        new DiaDeLaSemana(DiasDeLaSemana.Martes,Messages.Tuesday),
        new DiaDeLaSemana(DiasDeLaSemana.Miercoles,Messages.Wednesday),
        new DiaDeLaSemana(DiasDeLaSemana.Jueves,Messages.Thursday),
        new DiaDeLaSemana(DiasDeLaSemana.Viernes,Messages.Friday),
        new DiaDeLaSemana(DiasDeLaSemana.Sabado,Messages.Saturday),
        new DiaDeLaSemana(DiasDeLaSemana.Domingo,Messages.Sunday),

    };

    public async Task ActionBeginHandler(ActionEventArgs<DiaLaboralDTO> args)
    {
        try
        {
            if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
            {
                if (args.Action == "Add")
                {
                    await servDiaLaboral.Create(args.Data);
                    Toast.ShowMessage(MessageType.Success, Messages.CreateSuccess, Messages.CreateSuccessMessage);
                }
                else
                {
                    await servDiaLaboral.Update(args.Data);
                    Toast.ShowMessage(MessageType.Success, Messages.UpdatedSuccess, Messages.UpdatedSuccessMessage);

                }
            }
            if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
            {
                await servDiaLaboral.Delete(args.Data.Id);
                Toast.ShowMessage(MessageType.Success, Messages.DeleteSuccess, Messages.DeleteSuccessMessage);
            }
        }
        catch (Exception ex)
        {
            Toast.ShowMessage(MessageType.Error, Messages.Error, ex.Message);
            //error = ex.Message;
            args.Cancel = true;
            //StateHasChanged();
        }
    }
    public async Task ActionCompleteHandler(ActionEventArgs<DiaLaboralDTO> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete)
            || args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            await OnInitializedAsync();
        }
    }
}

