@page "/login"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IAuthenticationClientService AuthenticationService
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment HostEnvironment
@inject AppState AppState
@inject IToastService toastService


<MyCard Header="@AlDente.Globalization.Messages.Login">
    @if (HostEnvironment.IsDevelopment())
    {
        <div class="alert alert-info">
            Email: test@gmail.com<br />
            Password: test
        </div>
    }
    <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
        <FluentValidationValidator @ref="fluentValidationValidator" DisableAssemblyScanning="@true" />
        <div class="form-group">
            <DisplayName For="@(() => model.Email)" InputFor="@nameof(LoginViewModel.Email)" />
            <InputText @bind-Value="model.Email" class="form-control" id="@nameof(LoginViewModel.Email)" />
            <ValidationMessage For="@(() => model.Email)" />

        </div>
        <div class="form-group">
            <DisplayName For="@(() => model.Password)" InputFor="@nameof(LoginViewModel.Password)" />
            <InputText @bind-Value="model.Password" type="password" class="form-control" id="@nameof(LoginViewModel.Password)" />
            <ValidationMessage For="@(() => model.Password)" />
        </div>
        <ButtonProgressBasic loading="@loading" CssClass="e-primary">
            @AlDente.Globalization.Strings.Login
        </ButtonProgressBasic>
        @if (!string.IsNullOrEmpty(error))
        {
            <div class="alert alert-danger mt-3 mb-0">@error</div>
        }
    </EditForm>
</MyCard>


@code {
    private FluentValidationValidator fluentValidationValidator;
    private LoginViewModel model = new LoginViewModel();

    private bool loading;

    private string error;

    private string DisabledButton => loading ? "disabled" : "";
    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AuthenticationService.Session.User != null)
        {
            NavigationManager.NavigateTo("");
        }
        else if (HostEnvironment.IsDevelopment())
        {
            this.model.Password = "test";
            this.model.Email = "test@gmail.com";
        }
    }

    private async void HandleValidSubmit()
    {
        loading = true;
        try
        {
            await AuthenticationService.Login(model);
            AppState.TriggerRefreshAction();
            var returnUrl = NavigationManager.QueryString("returnUrl") ?? "/";
            toastService.ShowMessage(MessageType.Success, Globalization.Strings.LoginSuccessTitle, Globalization.Strings.LoginSuccessContent);
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }


}