@attribute [Authorize]
<EditForm Model="@Turno" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Id :</label>
        <div>
            <InputNumber @bind-Value="@Turno.Id" />
            <ValidationMessage For="@(() => Turno.Id)" />
        </div>
    </div>
    <div class="form-group">
        <label>Hora inicio :</label>
        <div>
            <InputDate @bind-Value="@Turno.HoraInicio" />
            <ValidationMessage For="@(() => Turno.HoraInicio)" />
        </div>
    </div>
    <div class="form-group">
        <label>Hora fin :</label>
        <div>
            <InputDate @bind-Value="@Turno.HoraFin" />
            <ValidationMessage For="@(() => Turno.HoraFin)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code{
    [Parameter]
    public AlDente.Contracts.Turnos.TurnoDTO Turno { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Save";
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}