@page "/Turnos"
@attribute [Authorize]
@using Syncfusion.Blazor.Grids
@using AlDente.Contracts.Turnos
@using AlDente.Contracts.DiasLaborables
@using AlDente.Globalization
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns

@inject ITurnoService _turnoService
@inject IDiaLaboralService _diaLaboralService

@inject IToastService Toast

<MyCard Header="Turnos">
    @if (TodosLosTurnos == null)
    {
        <p><em>Loading...</em></p>
    }
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid DataSource="@TodosLosTurnos" Toolbar="@(new List<string>() { "Add", "Edit", "Delete" })" AllowPaging="true" AllowGrouping="true">
                    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog" NewRowPosition="NewRowPosition.Bottom" ShowDeleteConfirmDialog="true" ShowConfirmDialog="true">
                        <Validator>
                            <FluentValidationValidator @ref="fluentValidationValidator" DisableAssemblyScanning="@true" />
                        </Validator>
                        <Template>
                            @{

                                var turno = (context as TurnoDTO);
                                <div class="form-group">
                                    <DisplayName For="@(() => turno.DiaLaboralId)" InputFor="@nameof(TurnoDTO.DiaLaboralId)" />
                                    <SfDropDownList TItem="DiaLaboralDTO" TValue="int" PopupHeight="230px" Placeholder="[Seleccione Un Día]" @bind-Value="@turno.DiaLaboralId" DataSource="@DiasDeLaSemana">
                                        <DropDownListFieldSettings Text="DiaName" Value="Id"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                    <ValidationMessage For="@(() => turno.DiaLaboralId)" />
                                </div>
                                <div class="form-group">
                                    <DisplayName For="@(()=>turno.HoraInicio)" InputFor="@nameof(TurnoDTO.HoraInicio)" />
                                    <SfTimePicker TValue="TimeSpan" Placeholder="Ingrese Hora" class="form-control" Format="@("hh\\:mm")" @bind-Value="turno.HoraInicio" ID="@nameof(TurnoDTO.HoraInicio)"></SfTimePicker>
                                    <ValidationMessage For="@(() => turno.HoraInicio)" />
                                </div>
                                <div class="form-group">
                                    <DisplayName For="@(()=>turno.HoraFin)" InputFor="@nameof(TurnoDTO.HoraFin)" />
                                    <SfTimePicker TValue="TimeSpan" Placeholder="Ingrese Hora" class="form-control" Format="@("hh\\:mm")" @bind-Value="turno.HoraFin" ID="@nameof(TurnoDTO.HoraFin)"></SfTimePicker>
                                    <ValidationMessage For="@(() => turno.HoraFin)" />
                                </div>

                                @if (!string.IsNullOrEmpty(error))
                                {
                                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                                }
                            }
                        </Template>
                    </GridEditSettings>
                    <GridEvents TValue="TurnoDTO" OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler"></GridEvents>
                    <GridGroupSettings Columns="@GroupedColumns" ShowUngroupButton="false" ShowDropArea="false">
                        <CaptionTemplate>
                            @{
                                var caption = context as CaptionTemplateContext;
                                @caption.Key;
                            }
                        </CaptionTemplate>
                    </GridGroupSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(TurnoDTO.Id) IsPrimaryKey="true" Visible="false"></GridColumn>
                        <GridColumn Field="@nameof(TurnoDTO.Dia)" HeaderText="@Messages.Day"></GridColumn>
                        <GridColumn Field=@nameof(TurnoDTO.HoraInicio) HeaderText="@Messages.StartTime"></GridColumn>
                        <GridColumn Field=@nameof(TurnoDTO.HoraFin) HeaderText="@Messages.EndTime"></GridColumn>
                        <GridColumn HeaderText="@Strings.Actions">
                            <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-edit", CssClass = "e-primary" })"></GridCommandColumn>
                                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-delete", CssClass = "e-danger" })"></GridCommandColumn>
                            </GridCommandColumns>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
</MyCard>
@code {
    public string[] GroupedColumns = new string[] { nameof(TurnoDTO.Dia) };
    public static List<TurnoDTO> TodosLosTurnos { get; set; }
    public static List<DiaLaboralDTO> DiasDeLaSemana { get; set; }
    private FluentValidationValidator fluentValidationValidator;
    private string error;

    protected override async Task OnInitializedAsync()
    {

        TodosLosTurnos = (await _turnoService.GetAll()).ToList();
        DiasDeLaSemana = (await _diaLaboralService.GetDiasLaborables()).ToList();
    }

    public async Task ActionBeginHandler(ActionEventArgs<TurnoDTO> args)
    {
        try
        {
            if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
            {
                if (args.Action == "Add")
                {
                    var result = await _turnoService.Create(args.Data);
                    if (result.IsValid)
                        Toast.ShowMessage(MessageType.Success, "[Create Success!!!]", "[Se creo con exito]");
                    else
                    {
                        Toast.ShowMessage(MessageType.Error, "Error", result.AllErrors);
                        args.Cancel = true;
                    }
                }
                else
                {
                    var result = await _turnoService.Update(args.Data);
                    if (result.IsValid)
                        Toast.ShowMessage(MessageType.Success, "[Updated Success!!!]", "[Se actualizo con exito]");
                    else
                    {
                        Toast.ShowMessage(MessageType.Error, "Error", result.AllErrors);
                        args.Cancel = true;
                    }

                }
            }
            if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
            {
                await _turnoService.Delete(args.Data.Id);
                Toast.ShowMessage(MessageType.Success, "[Delete Success!!!]", "[Se Removio con exito]");
            }
        }
        catch (Exception ex)
        {
            Toast.ShowMessage(MessageType.Error, "Error", ex.Message);
            //error = ex.Message;
            args.Cancel = true;
            //StateHasChanged();
        }
    }
    public async Task ActionCompleteHandler(ActionEventArgs<TurnoDTO> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete)
            || args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            await OnInitializedAsync();
        }
    }
}
