@page "/ReservasEmpleado"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.BarcodeGenerator
@using Models.Reservas
@using Contracts.Reservas
@using Contracts.Core
@using AlDente.Globalization
@using Data
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars

@attribute [Authorize]

@inject IReservaService _reservaService
@inject IToastService Toast
@inject SessionData _sessionData

<MyCard Header="Reservas">
    @if (this.ViewModel == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="form-inline">
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <SfTextBox Placeholder="Código de reserva" @bind-Value="ViewModel.Codigo"></SfTextBox>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <SfDatePicker TValue="DateTime?" Placeholder="Choose a Date" @bind-Value="ViewModel.Fecha" AllowEdit="false">
                    <DatePickerEvents TValue="DateTime?" />
                </SfDatePicker>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ButtonProgress CssClass="e-primary" OnClick="@Buscar">[Buscar]</ButtonProgress>
                <ButtonProgress CssClass="e-danger" OnClick="@Borrar">[Borrar]</ButtonProgress>
            </div>
        </div>
        <div class="col-lg-12 control-section mt-2">
            <div class="content-wrapper">
                <div class="row">
                    <SfGrid DataSource="@ViewModel.Reservas" AllowPaging="true" AllowGrouping="true" AllowSorting="true">
                        <GridPageSettings PageSize="200"></GridPageSettings>
                        <GridGroupSettings Columns="@GroupedColumns" ShowDropArea="false" ShowUngroupButton="false"></GridGroupSettings>
                        <GridSortSettings>
                            <GridSortColumns>
                                <GridSortColumn Field="@nameof(ReservaBasicDTO.EstadoName)" Direction="SortDirection.Descending"></GridSortColumn>
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(ReservaBasicDTO.NombreUsuario) HeaderText="@Messages.NombreUsuario"></GridColumn>
                            <GridColumn Field=@nameof(ReservaBasicDTO.Fecha) Format="dd/MM/yyyy" HeaderText="@Messages.Date"></GridColumn>
                            <GridColumn Field=@nameof(ReservaBasicDTO.Turno) HeaderText="@Messages.Turno"></GridColumn>
                            <GridColumn Field=@nameof(ReservaBasicDTO.Codigo) HeaderText="@Messages.Code"></GridColumn>
                            <GridColumn Field=@nameof(ReservaBasicDTO.Comensales) HeaderText="@Messages.Comensales"></GridColumn>
                            <GridColumn Field=@nameof(ReservaBasicDTO.EstadoName) HeaderText="@Messages.State"></GridColumn>
                            <GridColumn HeaderText="@Strings.Actions">
                                <Template>
                                    @{
                                        var reserva = (context as ReservaBasicDTO);
                                        if (reserva.ShowAsistidaNoAsistidaButton)
                                        {
                                            <ButtonProgress CssClass="e-info" Title="Asistida" OnClick="@(async ()=>await MarcarAsistida(reserva))"><span class="fa fa-check-circle e-btn-icon"></span></ButtonProgress>
                                            <ButtonProgress CssClass="e-danger" Title="No Asistida" OnClick="@(async ()=>await MarcarInasistida(reserva))"><span class="fa fa-times-circle"></span></ButtonProgress>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
        <SfDialog AllowDragging="true" @bind-Visible="@dialogVisible" IsModal="true" Width="285px" ShowCloseIcon="true">
            <DialogTemplates>
                <Header>Desea Cancelar la reserva?</Header>
                <Content>
                    @if (reservaACancelarDTO != null)
                    {
                        <EditForm Model="@reservaACancelarDTO" OnValidSubmit="@CancelarReserva">
                            <FluentValidationValidator @ref="fluentValidationValidator" DisableAssemblyScanning="@true" />
                            <div class="form-row">
                                <div class="form-group col-md">
                                    <DisplayName For="@(() => reservaACancelarDTO.Motivo)" InputFor="@nameof(reservaACancelarDTO.Motivo)" />
                                    <SfTextBox TValue="string" @bind-Value="reservaACancelarDTO.Motivo" ID="@nameof(reservaACancelarDTO.Motivo)"></SfTextBox>
                                    <ValidationMessage For="@(() => reservaACancelarDTO.Motivo)" />
                                </div>
                            </div>
                            <div class="e-footer-content">
                                <ButtonProgressBasic loading="loading" CssClass="e-primary" type="submit">Confirmar</ButtonProgressBasic>
                            </div>
                        </EditForm>
                    }

                </Content>
            </DialogTemplates>
            <DialogAnimationSettings Effect="DialogEffect.Zoom"></DialogAnimationSettings>
        </SfDialog>
        <SfDialog AllowDragging="true" @bind-Visible="@showQR" IsModal="true" Width="500px" ShowCloseIcon="true">
            <DialogTemplates>
                <Content>
                    <div class="text-center">
                        <SfQRCodeGenerator Width="500px" Height="500px" Value="@codigoReserva">
                            <QRCodeGeneratorDisplayText Visibility="true"></QRCodeGeneratorDisplayText>
                        </SfQRCodeGenerator>
                    </div>
                </Content>
            </DialogTemplates>
            <DialogAnimationSettings Effect="DialogEffect.Zoom"></DialogAnimationSettings>
        </SfDialog>
    }
</MyCard>
<style>
    .e-removecommand .e-unboundcell .e-unboundcelldiv button {
        display: none;
    }
</style>
@code {

    public string[] GroupedColumns = new string[] { nameof(ReservaBasicDTO.EstadoName) };
    private bool loading;
    bool dialogVisible { get; set; } = false;
    bool showQR { get; set; } = false;
    private FluentValidationValidator fluentValidationValidator;
    string codigoReserva { get; set; } = "";
    private ReservaACancelarDTO reservaACancelarDTO => this.ViewModel.ReservaACancelar;

    private FiltroReservaViewModel ViewModel { get; set; }

    protected async override Task OnInitializedAsync()
    {
        this.ViewModel = await FiltroReservaViewModel.Create(_reservaService, _sessionData);
        await base.OnInitializedAsync();
    }

    public async Task Buscar()
    {
        await ViewModel.Buscar();
        StateHasChanged();
    }

    public async Task Borrar()
    {
        await ViewModel.Clean();
        StateHasChanged();
    }





    private async Task MarcarAsistida(ReservaBasicDTO reserva)
    {
        var result = await this.ViewModel.ReservaAsistida(reserva);
        if (result.IsValid)
        {
            Toast.ShowMessage(MessageType.Success, result.MessageSuccsefully);
            await OnInitializedAsync();
            await Buscar();
        }
        else
        {
            Toast.ShowMessage(MessageType.Error, result.AllErrors);
        }
    }
    private async Task MarcarInasistida(ReservaBasicDTO reserva)
    {
        var result = await this.ViewModel.ReservaNoAsistida(reserva);
        if (result.IsValid)
        {
            Toast.ShowMessage(MessageType.Success, result.MessageSuccsefully);
            await Buscar();
        }
        else
        {
            Toast.ShowMessage(MessageType.Error, result.AllErrors);
        }
    }

    private async Task CancelarReserva()
    {
        loading = true;
        var result = await this.ViewModel.CancelarReserva();
        if (result.IsValid)
        {
            Toast.ShowMessage(MessageType.Success, result.MessageSuccsefully);
            this.dialogVisible = false;
            await OnInitializedAsync();
        }
        else
        {
            Toast.ShowMessage(MessageType.Error, result.AllErrors);
        }
        loading = false;
    }

    private void OcultarDialog(Object e)
    {
        this.dialogVisible = false;
    }


}
